<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport" />
	<title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings[ "siteTitle" ]</title>

	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

	@Styles.Render( "~/Content/ThirdParty/css" )
	@Styles.Render("~/Content/Theme/css")
</head>
<body><div class="wrapper">

	<div class="header">
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink( System.Configuration.ConfigurationManager.AppSettings[ "siteTitle" ], "Index", "Home", null, new { @class = "navbar-brand" } )
			</div>
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-left">
					@Html.CreateMenuItem( new Menu.Action( "Debate", null, "Popular", "Debate", null ) )

					@*@Html.CreateMenu( "About", "", "",
						new Menu.Item[]
						{
							new Menu.Action(  "About us", "question", "About", "Home", null ),
							new Menu.Action(  "For legislators", "gavel", "ForLegislators", "Home", null ),
							new Menu.Action(  "For business", "building", "ForBusiness", "Home", null ),
							new Menu.Action(  "Example uses", "plus", "ExampleUses", "Home", null ),
							new Menu.Action(  "Contact us", "envelope-o", "Contact", "Home", null ),
						}
					)*@				
				</ul>
				<ul class="nav navbar-nav navbar-right" style="left:-2em">
					@Html.Partial( "_LoginPartial" )
				</ul>
			</div>
		</div>
	</div>

	@if( ViewBag.ShowTitle ?? true )
	{
		<div class="breadcrumbs margin-bottom-40">
			<div class="container">
				<h1 class="pull-left">@ViewBag.Title</h1>
				@if( ViewBag.Breadcrumbs != null )
				{
					<ul class="pull-right breadcrumb">
						@foreach( KeyValuePair<string, string> crumb in ViewBag.Breadcrumbs )
						{
							<li><a href="@crumb.Value">@crumb.Key</a></li>
						}
						<li class="active">@ViewBag.Title</li>
					</ul>
				}
			</div>
		</div>
	}

	@if( ViewBag.WidePage ?? false )
	{
		@Html.Partial( "Alerts" )
		@RenderBody()
	}
	else
	{
		<div class="container content">
			@Html.Partial( "Alerts" )
			@RenderBody()
		</div>
	}

	@Scripts.Render( "~/Scripts/ThirdParty/jqbs" )
	<script src="/signalr/hubs"></script>
	@Scripts.Render( "~/Scripts/notifications" )
	@RenderSection( "Scripts", required: false )
	@Html.RegisteredScripts()

	<div class="footer">
		<div class="container">
			@Html.Partial( "_SocialFooter" )
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<p>User generated content on this site is licensed under  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> with attribution to the poster. Site templates, embedded components, featured images and additional content may have additional copyright restrictions.</p>
		</div>
	</div>

	@Html.Partial( "_UserVoice" )
	@Html.Partial( "_GoogleAnalytics" )

</div></body>
</html>
