<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport" />
	<title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings[ "siteTitle" ]</title>
	@Styles.Render( "~/Content/ThirdParty/css" )
	@Styles.Render("~/Content/Theme/css")
</head>
<body>
	<div class="header">
		<div class="navbar navbar-default" role="navigation">
			<!--<div class="container">--> <!--Alt style navigation-->
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink( System.Configuration.ConfigurationManager.AppSettings[ "siteTitle" ], "Index", "Home", null, new { @class = "navbar-brand" } )
			</div>
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>@Html.ActionLink( "Home", "Index", "Home" )</li>
					<li>@Html.ActionLink( "About", "About", "Home" )</li>
					<li>@Html.ActionLink( "Contact", "Contact", "Home" )</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" style="left:-2em">
					@Html.Partial( "_LoginPartial" )
				</ul>
			</div>
		</div>
	</div>

	@if( ViewBag.ShowTitle ?? true )
	{
		<div class="breadcrumbs margin-bottom-40">
			<div class="container">
				<h1 class="pull-left">@ViewBag.Title</h1>
				@if( ViewBag.Breadcrumbs != null )
				{
					<ul class="pull-right breadcrumb">
						@foreach( KeyValuePair<string, string> crumb in ViewBag.Breadcrumbs )
						{
							<li><a href="@crumb.Value">@crumb.Key</a></li>
						}
						<li class="active">@ViewBag.Title</li>
					</ul>
				}
			</div>
		</div>
	}

	@if( TempData[ "ErrorMessage" ] != null )
	{
		<div class="alert alert-block alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4>@TempData[ "MessageTitle " ]</h4>
			<p>@TempData[ "ErrorMessage" ]</p>
		</div>
	}
	else if( TempData[ "WarningMessage" ] != null )
	{
		<div class="alert alert-block alert-warning fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4>@TempData[ "MessageTitle" ]</h4>
			<p>@TempData[ "WarningMessage" ]</p>
		</div>
	}
	else if( TempData[ "SuccessMessage" ] != null )
	{
		<div class="alert alert-block alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4>@TempData[ "MessageTitle" ]</h4>
			<p>@TempData[ "SuccessMessage" ]</p>
		</div>
	}

	@if( ViewBag.WidePage ?? false )
	{
		@* insert alerts here*@
		@RenderBody()
	}
	else
	{
		<div class="container">
			@* insert alerts here*@
			@RenderBody()
		</div>
	}

	@Scripts.Render( "~/Scripts/ThirdParty/jqbs" )
	@RenderSection( "scripts", required: false )

	<div class="footer">
		<div class="container">
			@Html.Partial( "_SocialFooter" )
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<p>User generated content on this site is licensed under  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> with attribution to the poster. Site templates, embedded components, featured images and additional content may have additional copyright restrictions.</p>
		</div>
	</div>

	@Html.Partial( "_UserVoice" )
	@Html.Partial( "_GoogleAnalytics" )

</body>
</html>
