@model RationalVote.Models.UserRegister

@using (Html.BeginForm( "Register", "User", FormMethod.Post, new { @class = "reg-page" } ))
{
	@Html.AntiForgeryToken()
	<div class="reg-header">
		<h2>Create a new account</h2>
	</div>

	if( ViewContext.RouteData.Values[ "action" ].ToString() == "Register" )
	{
		@Html.ValidationSummary( true )
	}

	@Html.EditorFor( model => model.RegisterEmail )

	<br />

	@Html.EditorFor( model => model.RegisterPassword )
	<div class="progress" style="height:6px">
		<div class="progress-bar" id="password_strength_bar"></div>
	</div>
	
	@Html.EditorFor( model => model.RegisterPasswordRetype )
	
	<br />
	<label class="checkbox">
		@Html.EditorFor( model => model.RegisterAcceptedTermsOfService ) I agree to the <a data-toggle="modal" href="/static/tos.html" data-target="#popupDialog">terms of service</a>
	</label>
	@Html.ValidationMessageFor( model => model.RegisterAcceptedTermsOfService )
	
	<label class="checkbox">
		@Html.EditorFor( model => model.RegisterAcceptedPrivacyPolicy ) I understand the <a data-toggle="modal" href="/static/privacy.html" data-target="#popupDialog">privacy policy</a>
	</label>
	@Html.ValidationMessageFor( model => model.RegisterAcceptedPrivacyPolicy )
	
	<br />
	<br />

	<button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
}

<div class="modal fade" id="popupDialog" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
</div>
