@using RationalVote.Models;

@{
	ViewBag.Title = "Sign in";
}

<div class="container-fluid">
	<div class="row-fluid col-wrap">
		<div class="col-md-4 col-md-offset-2">
			@if( Model is UserLogin )
			{
				@Html.Partial( "Login" )
			}
			else
			{
				@Html.Partial( "Login", new UserLogin() )
			}
		</div>

		<div class="col-md-4">
			@if( Model is UserRegister )
			{
				@Html.Partial( "Register" )
			}
			else
			{
				@Html.Partial( "Register", new UserRegister() )
			}
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render( "~/Scripts/ThirdParty/jqueryval" )
	@Scripts.Render( "~/Scripts/ThirdParty/zxcvbn" )
}
