@if( @ViewData.ModelMetadata.AdditionalValues[ "icon" ] != null )
{
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-@ViewData.ModelMetadata.AdditionalValues[ "icon" ]"></i></span>
		@Html.TextBox( "", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control", type = ViewData[ "type" ], placeholder = @ViewData.ModelMetadata.AdditionalValues[ "placeholder" ] ?? "" } )
	</div>
	
	@Html.ValidationMessageFor( m => m, null )
}
else
{
	@Html.TextBox( "", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control", type = ViewData[ "type" ], placeholder = @ViewData.ModelMetadata.AdditionalValues[ "placeholder" ] ?? "" } )
	@Html.ValidationMessageFor( m => m, null )
}