@model Profile

@{
	bool Expert = true;
	string ExpertTags = "Cheese,Ponies";
}

<p class="color-green">
	@if( Model.DisplayName != null )
	{
		long level = @Model.Level();

		<a href="@Url.Action( "Details", "Profile", new { Id = Model.Id } )" title="@Model.DisplayName" class="AuthorBlock">
			<span class="label label-default" title="@Model.DisplayName has reached level @level">
				@level
			</span>

			&nbsp;

			<span class="AuthorBlockText">
				@Model.DisplayName

				@if( Expert )
				{
					string[] tags = ExpertTags.Split( ',' );

					bool plural = tags.Length != 0;

					string topicString = plural ? "topics" : "topic";

					<i class="fa fa-star" title="@Model.DisplayName is an expert in the @topicString of: @ExpertTags"></i>
				}
			</span>
		</a>
	}
	else
	{
		<p title="This user has not created a public profile yet.">Anonymous</p>
	}
</p>

